* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: sans-serif;
  color: #252525;
  background-color: #252525;
}

main {
  width: 900px;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  margin: 20px;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}

ul {
  list-style: none;
  text-align: left;
  margin-top: 50px;
}
li {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

input {
  margin: 20px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
}

.card {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
}

.card h1 {
  text-transform: uppercase;
  color: #575757;
  margin: 0;
  font-size: 1rem;
}

.striked {
  text-decoration: line-through;
}
